* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

body {
  margin: 20px;
}

.cat-info {
  margin-top: 40px;
  display: flex;
  gap: 25px;
}

.cat-info img {
  width: 350px;
  display: block;
  object-fit: contain;
  object-position: top;
  border-radius: 11px;
}

.cat-info div h3 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 25px;
}

.cat-info div p:first-of-type {
  text-indent: 40px;
}

.loader {
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.loader-spinner {
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #ff3d00 #ff3d00 transparent #ff3d00;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-spinner::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #ff3d00;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.error {
  color: #ff3d00;
  font-weight: bold;
  font-size: 25;
}
